{% extends "base.html" %}
{% block title %}{{ article.title }} - {{SITENAME}}{% endblock title %}
{% block content %}
	<section>
		<header>
			<h1>
				{{ article.title }}
			</h1>
			{% if article.translations %}
				{% trans %}Translations{% endtrans %}: 
				{% for translation in article.translations %}
					<a href="{{ SITEURL }}/{{ translation.url }}">
						{% import 'translation.jinja' as translation_jinja with context %}
						{{ translation_jinja.translation_full_name(translation.lang) }}
					</a>
				{% endfor %}
			{% endif %}
			<div>{% trans %}Publication date{% endtrans %}: {{ article.locale_date }}</div>
			<div>
				{% trans %}Tags{% endtrans %}: 
				{% if article.tags %}
					{% for tag in article.tags %}
						<a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
					{% endfor %}
				{% endif %}
			</div>
			{% if article.series %}
				<p>{% trans %}Part of the{% endtrans %} "{{ article.series.name }}"{% trans %} series:{% endtrans %}</p>
				<ol>
					{% for part_article in article.series.all %}
						{% if part_article == article %}
							<li>
								{{ part_article.title }}
							</li>
						{% else %}
							<li>
								<a href='{{ SITEURL }}/{{ part_article.url }}'>{{ part_article.title }}</a>
							</li>
						{% endif %}
					{% endfor %}
				</ol>
			{% endif %}
		</header>
		<hr />
		<div class="e-content">
			{{ article.content }}
		</div>
	</section>
{% endblock %}
