<!DOCTYPE html>
<html>
	<head>
		{% block head %}
			<title>{% block title %}{{ SITENAME }}{% endblock %}</title>
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/main.css" />
			<link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/dark.css" />
			{% if TRANSLATION_FEED_ATOM %}
				<link href="{{ TRANSLATION_FEED_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }}'s Feed" />
			{% endif %}
		{% endblock head %}
	</head>
	<body>
		<nav role="navigation">
			<div>
				<ul>
					<li><a href="{{ SITEURL }}/">{% trans %}nfraprado's Blog{% endtrans %}</a></li>
					{% for p in pages %}
						<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
					{% endfor %}
					<li><a href="{{ SITEURL }}/tags.html">{% trans %}Tags{% endtrans %}</a></li>
					<li><a href="{{ SITEURL }}/feeds/all.atom.xml">{% trans %}Follow{% endtrans %}</a></li>
					{% if extra_siteurls %}
						{% for lang, url in extra_siteurls.items() %}
							<li>
								<a href="{{ url }}/">
									{% import 'translation.jinja' as translation_jinja with context %}
									{{ translation_jinja.translation_full_name(lang) }}
								</a>
							</li>
						{% endfor %}
					{% endif %}
				</ul>
			</div>
		</nav>
		<div>
			{% block content %}
			{% endblock %}
		</div>
		<hr />
		<footer>
			<div>
				<p>&copy; 2020-2024 Nícolas F. R. A. Prado</p>
				<p>
					{% trans %}Content{% endtrans %} {% trans %}licensed under{% endtrans %} <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
					<a href="https://codeberg.org/nfraprado/blog">{% trans %}Code{% endtrans %}</a> {% trans %}licensed under{% endtrans %} <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3</a>
				</p>
				<p>
					{% trans %}Powered by{% endtrans %} <a href="http://getpelican.com/">pelican</a>.
					{% trans %}Theme by{% endtrans %} <a href="https://seirdy.one">seirdy</a>
				</p>
			</div>
		</footer>
	</body>
</html>
