{% extends "base.html" %}
{% block content %}
	{% block content_title %}
		<h1>{% trans %}nfraprado's Blog{% endtrans %}</h1>
	{% endblock %}
	<section class="h-feed hfeed" itemprop="hasPart" itemscope="" itemtype="https://schema.org/DataFeed">
		{% for article in articles_page.object_list %}
			<ol>
				<li itemprop="dataFeedElement" itemscope="" itemtype="https://schema.org/DataFeedItem">
					<article class="h-entry hentry" itemprop="item" itemscope="" itemtype="https://schema.org/BlogPosting" itemid="{{ SITEURL }}/{{ article.url }}">
						<div>
							<time itemprop="datePublished" class="dt-published published">{{ article.locale_date }}</time>
							<br />
							<a href="{{ SITEURL }}/{{ article.url }}" itemprop="url" class="u-url url" rel="bookmark">
								{{ article.title }}
							</a>
						</div>
					</article>
				</li>
			</ol>
		{% endfor %}
	</section>
{% endblock content %}
