{% extends "base.html" %}
{% block title %}{{ page.title }} - {{SITENAME}}{% endblock title %}
{% block content %}
	<section>
		<header>
			<h1>
				{{ page.title }}
			</h1>
		</header>
		<div>
			{{ page.content }}
		</div>
	</section>
{% endblock %}
