{% extends "base.html" %}
{% block title %}{{ SITENAME }} - {% trans %}Tags{% endtrans %}{% endblock %}
{% block content %}
	<h1>{% trans %}Tags{% endtrans %}</h1>
	<ul>
		{%- for tag, articles in tags|sort %}
			<li>
				<a href="{{ SITEURL }}/{{ tag.url }}">
					{{ tag }} ({{ articles|count }})
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
